.list-group-flush .list-group-item {
	border-right: 0;
	border-left: 0;
	border-radius: 0;
}

.list-group-flush .list-group-item:first-child {
	border-top: 0;
}

.list-group-flush .list-group-item:last-child {
	border-bottom: 0;
}
